@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", serif;
}



header{
    width: 100%;
    height: 170px;
    background-color: #DDDDDD;
    color: white;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_logo{
    width: 50%;
    margin-left: 3%;
}

.img_logo{
    width: 150px;
    height: 170px;
}

.ul_itens{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4%;
    gap: 20px;
}

.ul_itens li a{
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    transition: color 0.5s;
}

.ul_itens li a:hover{
    color: #F10303;
}

.mobile-btn{
    display: none;
}
.mobile-btn i{
    color: white;
}
#mobile-menu{
    display: none;
}


/*Media header*/
@media(max-width: 1170px){
 
    .ul_itens{
        display: none;
    }

    #mobile-btn{
        display: block;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
        background-color: #DDDDDD;
        margin-right: 20px;
    }
    #mobile-menu.active{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #mobile-nav-list{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 3px;
        text-align: center;
        background-color: #1e120d85;
        z-index: 1000;
    }
    .nav-item a{
        color: white;
        font-weight: 700;
        transition: color 0.5s;
    }
    .nav-item a:hover{
        color: #F10303;
    }   
}
/* Fim Media header*/

/*Estilos contato*/
.main_contato{
    display: flex;
    width: 85%;
    flex-direction: column;
    height: auto;
    border-radius: 5px;
    background-color:#3f3f3faa;
    color: white;
    margin: auto;
    padding-left: 40px;
}
.form_main{
    display: flex;
    flex-direction: column;
    color: white;
}
.form_contato{
    height: auto;
    width: 70%;
    display: flex;
    color: white;
}

.form_contato form{
    width: 90%;
}

.div_input{
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top:40px;
}

.div_input input{
    border-radius: 10px;
    height: 50px;
    width: 350px;
    padding-left: 30px;
    border: 1px solid rgba(0, 0, 0, 0.23);
}

/*.div_input label{
   position: absolute;
   font-size: 15px;
   font-weight: bolder;
}

#label_nome{
    left: 12%;
    top: 35%;
}

#label_email{
    top: 35%;
    left: 37%;
}

#label_tel{
    top: 49%;
    left: 12%;
}

#label_ass{
    top: 49%;
    left: 37%;
}*/

.form_contato form button{
    border: 0px;
    color: black;
    background-color: white;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-bottom: 30px;
    transition: background 0.5s;
}

.form_contato form button:hover{
    background-color: #AC8A3F;
}

.main_contato h1{
    color: white;
    font-size: 1.3em;
    margin-top: 20px;
}

.main_desc_contato{
    position: absolute;
    top: 24%;
    left: 70%;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
    margin-bottom: 30px;
}




.i_desc i{
    color: #d0a64d;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.i_desc p{
    color: white;
    font-weight: 400;
}


.main_localidade{
    border-top: 1px solid white;
    padding: 20px;
}

.main_localidade h1{
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: #D21428;
}

.main_localidade .h1_local,.p_local{
    text-align: center;
}

.main_localidade p{
    font-size: 1.2em;
}

.div_mapa{
    width: 90%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 8%;
}

.div_mapa iframe{
    width: 90%;
    border: none;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.div_mapa iframe:hover{
    transform: scale(1.1);
    opacity: 0.8;
}


.div_h1_contato{
    width: 50%;  
    margin-left: 30px;
   }


@media(max-width: 768px){
   .main_contato{
    width: 100%;
    padding: 0px;
   }
   .main_contato h1{
    margin-left: 20px;
    margin-bottom: 0px;
   }
   .form_contato{
    width: 100%;
   }
   .form_contato form{
    width: 100%;
   }
   .div_input{
    margin-top: 30px;
    flex-direction: column;
   }
   .div_input label{
    position: initial;
   }
   .div_input input{
    width: 170px;
    padding-left: 0px;
    text-align: center;
   }

   .div_h1_contato{
    width: 100%;
    margin: 0px;
   }
   
   .main_desc_contato{
    position: initial;
    margin-left: 30px;
   }
   .main_desc_contato h1{
    margin: 0px;
    font-size: 1.5em;
    font-weight: bolder;
   }
   .main_desc_contato p{
    font-size: 1.2em;
   }

   .div_mapa{
    width: 100%;
    margin-left: 5%;
   }

   .form_contato form button{
    margin-left: 30px;
   }
}

@media(max-width: 1024px){
    .main_contato{
        width: 100%;
        padding: 0px;
       }
       .main_contato h1{
        margin-left: 20px;
        margin-bottom: 0px;
       }
       .form_contato{
        width: 100%;
       }
       .form_contato form{
        width: 100%;
       }
       .div_input{
            margin-top: 30px;
       }
       .div_input label{
        position: initial;
       }
       .div_input input{
        width: 170px;
        padding-left: 0px;
        text-align: center;
       }
    
       .div_h1_contato{
        width: 100%;
        margin: 0px;
       }
       
       .main_desc_contato{
        position: initial;
        margin-left: 30px;
       }
       .main_desc_contato h1{
        margin: 0px;
        font-size: 1.5em;
        font-weight: bolder;
       }
       .main_desc_contato p{
        font-size: 1.2em;
       }
    
       .div_mapa{
        width: 100%;
        margin-left: 5%;
       }
    
       .form_contato form button{
        margin-left: 30px;
       }
}


/*Fim estilos contato*/