@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", serif;
    color: #F10303;
}


header{
    width: 100%;
    height: 170px;
    background-color: #DDDDDD;
    color: white;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_logo{
    width: 50%;
    margin-left: 3%;
}

.img_logo{
    width: 150px;
    height: 170px;
}

.ul_itens{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4%;
    gap: 20px;
}

.ul_itens li a{
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    transition: color 0.5s;
}

.ul_itens li a:hover{
    color: #F10303;
}

.mobile-btn{
    display: none;
}
.mobile-btn i{
    color: white;
}
#mobile-menu{
    display: none;
}


/*Media header*/
@media(max-width: 1170px){
 
    .ul_itens{
        display: none;
    }

    #mobile-btn{
        display: block;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
        background-color: #DDDDDD;
        margin-right: 20px;
    }
    #mobile-menu.active{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #mobile-nav-list{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 3px;
        text-align: center;
        background-color: #1e120d85;
        z-index: 1000;
    }
    .nav-item a{
        color: white;
        font-weight: 700;
        transition: color 0.5s;
    }
    .nav-item a:hover{
        color: #F10303;
    }   
}
/* Fim Media header*/

/*Estilos apresentação*/


/*Estilos main_card*/
.fundo_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.fundo_div h1{
    color: black;
    text-align: center;
    border-bottom: 2px solid #d214277a;
}
.fundo_div p{
    color: black;
    font-size: 1.2em;
    text-align: center;
    border-bottom: 2px solid #d214277a;
}

.marcas{
    width: 20%;
    margin: 0px 0px 0px -13%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.marcas h1{
    font-size: 1.4em;
    color: black;
}
.marcas p{
    color: rgba(0, 0, 0, 0.755);
}
.marcas span{
    width: 150px;
    text-align: center;
    margin: auto;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 5px;
}
.marcas span:hover{
    width: 150px;
    background-color:#ddddddc1;
    transform: translateY(-5px);
}

.h1_estoque{
    font-size: 1.3em;
    color: black;
    font-weight: 500;
    text-align: center;
    position: relative;
    margin: 40px  0px 50px 0px;
}


.h1_estoque::after {
    content: "";
    display: block;
    width: 80px; 
    height: 4px;
    background-color: #a27c40;
    margin: 8px auto 0;
  }

.main_cards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.cards:hover{
    transform: translateY(-5px);
}


.card_img img{
    position: absolute;
    width: 330px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}

.desc_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 330px;
    height: 260px;
    border-radius: 0px 0px 10px 10px;
    margin-top: 180px;
    background-color: #DDDDDD;
}

.spam_nome{
    width: 90px;
    background-color: #AC8A3F;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.spam_nome:hover{
    background-color: #a27c40b4;
    transform: translateY(-5px);
}

.desc_card h1,.p_preço{
    color: black;
    font-weight: 500;
}

.p_preço{
    padding-top: 20px;
    color: #a27c40;
}

.desc_card h1{
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.span_desc{
    position: relative;
    top: 18%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-top: 1px solid black;
}
.span_desc p{
    color: black;
    font-weight: 300;
}

#card_margin{
    margin-left: 7%;
}
@media(max-width: 768px){
    .marcas{
        display: none;
    }
    #card_margin{
        margin-left: 0px;
    }

    .fundo_div img{
        width: 100%;
        height: 150px;
        border-radius: 5px;
    }
}

@media(max-width: 1300px){
    .marcas{
        display: none;
    }
    #card_margin{
        margin-left: 0px;
    }
}
/*Fim estilos main_card*/


/*Estilos modal*/

.card_modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.conteudo_modal{
    display: flex;
    margin: auto;
    margin-top: 8%;
    background-color: white;
    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 10px;
    flex-direction: column;
}
.titulo_modal{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.titulo_modal h1{
    font-size: 1.3em;
    color: black;
    font-weight: 300;
    margin-left: 30px;
}
.titulo_modal p{
    color: black;
    margin-right: 10%;
}
.img_modal{
   display: flex;
   margin-left: 20px;
   width: 100%;
   gap: 20px;
}
.img_modal img{
    border-radius: 10px;
}

.icon_modal{
    background-color: #8a838197;
    text-align: center;
    border-top: 1px solid white;
}
.icon_modal i{
    color: #a27c40;
}
.icon_modal p{
    color: white;
}

.btn_modal{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-left: 30px;
}
.whats_btn{
    width: 300px;
    height: 60px;
    background-color:#a27c40;
    border-radius: 10px;
    text-align: center;
    padding-top: 5%;
    transition: background 0.5s;
}

.whats_btn:hover{
    background-color: black;
}

.financiamento{
    width: 300px;
    height: 60px;
    background-color:#a27c40;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 5%;
    transition: background 0.5s;
}
.financiamento:hover{
    background-color: black;
}
.Avalie{
    width: 300px;
    height: 60px;
    background-color:#a27c40;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 5%;
    transition: background 0.5s;
}
.Avalie:hover{
    background-color: black;
}

@media(max-width: 1170px){
    .card_modal{
        display: none !important; 
    }
}

@media(max-width: 1300px){
    .conteudo_modal{
        width: 80%;
    }
}
/*Fim estilos modal*/